{% extends "zapizza:site/templates/base.jinja2" %}
{% block title %}{{ context.title }}{% endblock %}
{% block content %}
    <h1>{{ context.title }}</h1>

    <ul>
        <li>
            <strong>id</strong>: {{ context.id }}
        </li>
        <li>
            <strong>owner</strong>:
            <a href="{{ request.route_url('users_view',
            username=context.owner.username)
                }}">
              {{ context.owner.first_name }}
              {{ context.owner.last_name }}
            </a>
        </li>
    </ul>
{% endblock %}
