{% extends "zapizza:site/templates/base.jinja2" %}
{% block title %}User Add{% endblock %}
{% block content %}
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
  <div class="smallbox form-signin1">
			                <div class="form-group">
    <h1>User - Register</h1>

	
    {{ register_form | safe }}
	
		</div>
	</div>
	</div>
	</div>
	</div>
{% endblock %}
