{# base principal #}
{# contém a estutura principal do site composta por header, section e footer #}
{# diversos IFs exibem o conteúdo de acordo com a existência de um usuário corrente #}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ request.static_url('zapizza.site:static/favicon.png') }}">
    <link rel="stylesheet" href="{{ request.static_url('zapizza.site:static/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ request.static_url('zapizza.site:static/lightbrownsidebar.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zapizza.site:static/login.css') }}">
    <title>{% block title %}{% endblock %} - Zapizza</title>
    {% endblock %}
</head>

<body class="menuclose menuclose-right fundo">

<header class="navbar-fixed">
    {% block header %}
    <nav class="navbar navbar-toggleable-md sign-in-header">
        <div class="sidebar-left">  <a class="navbar-brand imglogo" href="{{ request.route_url('home') }}"></a> </div>
        <div class="col"></div>
        <div class="sidebar-right pull-right" >
            <ul class="navbar-nav justify-content-end">
                <li>
                    {% if view.current_user %}
                    <a href="" class="btn btn-link text-white">
                        {{ view.current_user.first_name }}
                        {{ view.current_user.last_name }}
                    </a>
                </li>
                <li>
                    <a href="{{ request.route_url('logout') }}" class="btn btn-link text-white">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ request.route_url('login') }}" class="btn btn-primary ">Login</a>
                </li>
            </ul>
            {% endif %}


        </div>
    </nav>
    {% endblock %}
</header>

<section>
    {% block content %}
    {% endblock %}
</section>

<footer class="footer-content row  justify-content-between align-items-right">
    {% block footer %}
    <div class="col-sm-16 text-right"><a href="#" target="_blank" class="">Política de Privacidade</a> | <a href="#" target="_blank" class="">Termos de uso</a> </div>
    {% endblock %}
</footer>

</body>
</html>
