{# base principal
contém a estutura principal do site utilizada em todos os outros templates
quando um formulário de trabalho necessitar de um css/js personalizado
utilizar jinja2.super() e adicionar os css/js no template filho

Estrutura:
block head -> meta e links
block title -> título da página no navegador
block header -> barra superior
block aside -> menu principal esquerdo
block content -> formulários de trabalho
block footer -> rodapé
block scripts -> scripts
#}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {# favicon #}
    <link rel="icon" href="{{ request.static_url('zapizza.site:static/favicon.png') }}">
    {# titulo #}
    <title> Zapizza {% block title %}{% endblock %}</title>

    {# Fontawesome icon CSS #}
    <link rel="stylesheet" href="{{ request.static_url('zapizza.site:static/vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}" type="text/css">
    {# Bootstrap CSS #}
    <link rel="stylesheet" href="{{ request.static_url('zapizza.site:static/vendor/bootstrap4alpha/css/bootstrap.css') }}" type="text/css">
    {# Adminux CSS #}
    <link rel="stylesheet" href="{{ request.static_url('zapizza.site:static/css/dark_brown_adminux.css') }}">

    {% endblock %}
</head>

<body class="menuclose menuclose-right">

{# page loader #}
<div class="loader_wrapper inner align-items-center text-center">
    <div class="load7 load-wrapper">
        <div class="loading_img"></div>
        <div class="loader"> Carregando... </div>
        <div class="clearfix"></div>
    </div>
</div>

{# header #}
{# contem barra superior #}
{# varia de acordo com a existencia de um usuario logado (if view.current_user) #}
<header class="navbar-fixed">
    {% block header %}
    {% if view.current_user %}
    {# barra superior com usuário logado#}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">

        {# logo + link home #}
        <div class="sidebar-left pl-2 pt-1">
            <a class="navbar-brand imglogo" href="{{ request.route_url('home') }}"></a>
            <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" >
                <span class="fa fa-bars"></span>
            </button>
        </div>

        {# superior direito + alertas #}
        <div class="d-flex mr-auto"> </div>
        <ul class="navbar-nav content-right">
            <li class="v-devider"></li>
            {# mensagens #}
            {#<!--<li class="nav-item active">
                <button class="btn btn-link icon-header "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-envelope-o"></span> <span class="badge-number bg-success"></span></button>
                <div class="dropdown-menu message-container">
                    <div class="list-unstyled"> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="Generic user image"></span>
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Dhananjay Chauhan</h6>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
                    </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="Generic user image"></span>
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Max Smith</h6>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
                    </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="Generic user image"></span>
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Astha Smith</h6>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
                    </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="Generic user image"></span>
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Tommy Cruszii</h6>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
                    </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="Generic user image"></span>
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Max Smith</h6>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
                    </a> </div>
                </div>
            </li>-->#}

            {# alertas #}
            <li class="nav-item">
                <button class="btn btn-link icon-header badgeCircle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bell-o"></span><span class="badge-number bg-danger"></span></button>
                <div class="dropdown-menu message-container">
                    <div class="list-unstyled">
                        <div class="media"> <span class="alert-block bg-primary"><span class="fa fa-bullhorn"></span></span>
                            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
                        </div>
                        <div class="media"> <span class="alert-block bg-warning"><span class="fa fa-bell-o"></span></span>
                            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
                        </div>
                        <div class="media"> <span class="alert-block bg-danger"><span class="fa fa-exclamation-triangle"></span></span>
                            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
                        </div>
                        <div class="media">
                            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
                        </div>
                        <div class="media">
                            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
                        </div>
                    </div>
                </div>
            </li>

            {# menu de apps #}
            <li class="nav-item hidden-xs-down">
                <button class="btn btn-link icon-header " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-th"></span> </button>
                <div class="dropdown-menu message-container box-links">
                    <div class="list-unstyled">
                        <a href="{{ request.route_url('home') }}" class="media"> <span class="quick-block "><span class="fa fa-home"></span></span></a>
                        <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-shopping-cart"></span></span></a>
                        <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-tachometer"></span></span></a>
                    </div>
                </div>
            </li>
            <li class="v-devider"></li>

            {# icone podcast #}
            {#<!--<li class="nav-item ">
                <a class="btn btn-link icon-header menu-collapse-right" href="#"><span class="fa fa-podcast"></span> </a>
            </li>-->}#
        </ul>

        {# usuario, foto  e menu dropdown #}
        <div class="sidebar-right pull-right " >
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item">
                    <button class="btn-link btn userprofile"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="userpic"><img src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="user pic"></span> <span class="text"></span>
                        {{ view.current_user.first_name }}
                        {{ view.current_user.last_name }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ request.route_url('users_profile_edit', username=view.current_user.username) }}">Meu Perfil</a>
                        <a class="dropdown-item" href="#">Configurações</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ request.route_url('logout') }}">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% else %}
    {# barra superior sem usuário logado #}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded sign-in-header">
        {# logo + link home #}
        <div class="sidebar-left pl-2 pt-1"> </div>
        <a class="navbar-brand imglogo" href="{{ request.route_url('home') }}"></a>
        <div class="d-flex mr-auto"> </div>
        {# login e registro #}
        <form class="form-inline my-2 my-lg-0  text-right justify-content-end pull-right">
            <a href="{{ request.route_url('login') }}" class="btn btn-success  my-sm-0">Login</a>
            <a href="{{ request.route_url('register') }}" class="btn btn-primary ml-2 my-sm-0">Registro</a>
        </form>
    </nav>
    {% endif %}
    {% endblock %}
</header>

{% block aside %}
{# menu lateral esquerdo #}
<div class="sidebar-left">
    {# menu do usuario #}
    <div class="user-menu-items">
        <div class="list-unstyled btn-group">
            <button class="media btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="message_userpic"><img class="d-flex" src="{{ request.static_url('zapizza.site:static/img/user-header.png') }}" alt="Generic user image"></span>
                <span class="media-body"> <span class="mt-0 mb-1">{{ view.current_user.first_name }} {{ view.current_user.last_name }}</span>
                    <small>Porto Alegre, RS</small> </span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ request.route_url('users_profile_edit', username=view.current_user.username) }}">Meu Perfil</a>
                <a class="dropdown-item" href="">Configurações</a>
            </div>
        </div>
    </div>
    <br>
    {# menu principal do sistema #}
    <ul class="nav flex-column in" id="side-menu">
        <li class="title-nav">MENU</li>
        {# produtos #}
        <li class="nav-item">
            <a href="javascript:void(0)" class="menudropdown nav-link">Produtos<i class="fa fa-angle-down"></i></a>
            <ul class="nav flex-column nav-second-level">
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-beer"></i>Bebidas</a></li>
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-circle-o"></i>Bordas</a></li>
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-cutlery"></i>Sabores</a></li>
                <li class="nav-item "> <a href="{{ request.route_url('tamanhos_list') }}" class="nav-link"><i class="fa fa-pie-chart"></i>Tamanhos</a></li>

            </ul>
        </li>
        {# clientes #}
        <li class="nav-item">
            <a href="javascript:void(0)" class="menudropdown nav-link">Clientes<i class="fa fa-angle-down"></i></a>
            <ul class="nav flex-column nav-second-level">
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-map-marker"></i>Bairros</a></li>
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-map-o"></i>Cidades</a></li>
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-users"></i>Clientes</a></li>
                <li class="nav-item "> <a href="" class="nav-link"><i class="fa fa-road"></i>Logradouros</a></li>
            </ul>
        </li>
        {# pedidos #}
        <li class="nav-item">
            <a href="" class="nav-link"><i class="fa fa-id-card-o"></i>Pedidos</a>
        </li>
    </ul>
    <hr>
</div>
{% endblock %}

{# conteudo #}
{# sempre de wrapper-content e container #}
<div class="wrapper-content">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {# rodape #}
    {# sempre dentro do wrapper-content e container do conteudo principal #}
    <footer class="footer-content row justify-content-between align-items-right">
        {% block footer %}
        <div class="col-sm-16 text-right"><a href="#" target="_blank" class="">Política de Privacidade</a> | <a href="#" target="_blank" class="">Termos de uso</a> </div>
        {% endblock %}
    </footer>
</div>

{# scripts #}
{% block scripts %}
{# jQuery first, then Tether, then Bootstrap JS. #}
<script src="{{ request.static_url('zapizza.site:static/js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ request.static_url('zapizza.site:static/vendor/bootstrap4alpha/js/tether.min.js') }}"></script>
<script src="{{ request.static_url('zapizza.site:static/vendor/bootstrap4alpha/js/bootstrap.min.js') }}" type="text/javascript"></script>
{# Cookie js for theme chooser and applying it #}
<script src="{{ request.static_url('zapizza.site:static/vendor/cookie/jquery.cookie.js') }}"  type="text/javascript"></script>
{# IE10 viewport hack for Surface/desktop Windows 8 bug #}
<script src="{{ request.static_url('zapizza.site:static/js/ie10-viewport-bug-workaround.js') }}"></script>
{# Circular chart progress js #}
<script src="{{ request.static_url('zapizza.site:static/vendor/cicular_progress/circle-progress.min.js') }}" type="text/javascript"></script>
{# sparklines js #}
<script type="text/javascript" src="{{ request.static_url('zapizza.site:static/vendor/sparklines/jquery.sparkline.min.js') }}"></script>
{# bootstrap notify js #}
<script type="text/javascript" src="{{ request.static_url('zapizza.site:static/vendor/bootstrap-notify/bootstrap-notify.min.js') }}"></script>
<script type="text/javascript" src="{{ request.static_url('zapizza.site:static/js/notification.js') }}"></script>
{# custome template js #}
<script src="{{ request.static_url('zapizza.site:static/js/adminux.js') }}" type="text/javascript"></script>
{# alertas toast #}
{% for msg in primary_messages %}
<script>alert_primary('{{ primary_messages[loop.index0] }}');</script>
{% endfor %}
{% for msg in success_messages %}
<script>alert_success('{{ success_messages[loop.index0] }}');</script>
{% endfor %}
{% for msg in danger_messages %}
<script>alert_danger('{{ danger_messages[loop.index0] }}');</script>
{% endfor %}
{% for msg in warning_messages %}
<script>alert_warning('{{ warning_messages[loop.index0] }}');</script>
{% endfor %}
{% endblock %}

</body>
</html>
