{% extends "base.jinja2" %}
{% block title %}Confirm {% endblock %}
{% block content %}
<div class="wrapper-content-sign-in ">
    <div class="container text-center">
        {% if view.current_user %}
        {% if invalid_token %}
        <div class="smallbox form-signin1">
            {% if form_alert %}
            <div class="alert alert-warning" role="alert">
                {{ form_alert }}
            </div>
            {% endif %}
            <form method="POST">
                <div class="form-group">
                    <input type="email" class="form-control placewhite" name="email" placeholder="E-mail" id="email" value="{{ view.current_user.email }}">
                </div>
                <button type="submit" name="resend.submitted" class="btn btn-primary btn-round">Reenviar e-mail</button>
            </form>
        </div>
        {% else %}
        <h2>Aceite e confirmação de registro</h2>
        {% if form_alert %}
        <div class="alert alert-warning" role="alert">
            {{ form_alert }}
        </div>
        {% endif %}
        <div>
            <textarea id="termo" name="termo" rows="15" cols="80" style="border:thin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis dui ipsum, at imperdiet sapien sagittis vitae. Proin condimentum est ac convallis cursus. Donec ut efficitur nisi. Maecenas vehicula commodo felis eget vehicula. Proin bibendum lacus est, nec tempor urna euismod in. Donec urna leo, pharetra vel magna pharetra, malesuada malesuada nibh. Aliquam vel scelerisque urna, nec accumsan mauris. Nulla vulputate sapien in pretium lobortis.

                In a arcu ac mauris dignissim ullamcorper a sit amet libero. Vivamus eget mattis massa, a venenatis ante. Quisque mollis sapien in tempus fringilla. Aliquam erat volutpat. Vivamus arcu erat, pellentesque non tempor non, placerat nec felis. Cras sit amet maximus mauris. Nunc id consequat augue. Etiam eu tincidunt velit, nec elementum sapien. Ut vitae erat ante. Mauris nec augue in nibh lobortis blandit. Nulla aliquet semper fringilla.

                Morbi a accumsan tortor. Nulla non aliquet erat. Nulla euismod consequat orci, quis imperdiet leo vestibulum eu. Morbi neque urna, pulvinar ac ante et, rhoncus hendrerit lacus. Integer sit amet quam orci. Praesent fermentum risus nibh, sed bibendum mauris condimentum commodo. Morbi mollis sollicitudin odio, eget lacinia neque auctor et. Aenean feugiat blandit eros, nec pretium augue sollicitudin non. Aliquam quis auctor nulla, sed ultrices orci. Suspendisse sed placerat ante, vel mattis odio. Nulla malesuada, tellus et feugiat posuere, tellus risus porttitor magna, vel efficitur velit ligula ac nibh. Nam sit amet feugiat nisi, facilisis interdum purus. Pellentesque maximus aliquam vulputate. Integer est tortor, euismod nec tellus vel, aliquam vestibulum arcu.

                Quisque pellentesque euismod dui, at condimentum dolor euismod sit amet. Sed ullamcorper sem in justo vestibulum pulvinar. Donec in lorem sit amet nunc pulvinar aliquam. Phasellus consequat iaculis diam, at mattis elit pretium eu. Aliquam ut laoreet lorem. In dapibus dolor turpis, nec egestas odio laoreet tincidunt. In elit enim, malesuada non tempus eget, convallis eu elit. Proin maximus accumsan erat, id suscipit lectus facilisis at. Pellentesque iaculis condimentum eros sit amet pharetra. Nulla facilisi. Sed et vehicula arcu, tincidunt ullamcorper lacus. Morbi dui sapien, convallis quis maximus quis, egestas in massa. Proin pretium ipsum ut quam ultricies, non egestas risus consequat. Donec luctus turpis non ante tincidunt egestas.

                Vivamus vestibulum, tellus vitae consequat molestie, lectus eros viverra nibh, ac placerat augue ligula eu justo. Sed vestibulum ex non mi condimentum, id sodales quam dignissim. Integer pretium eget leo nec semper. Nunc feugiat sagittis viverra. Suspendisse non urna ac nibh interdum vestibulum. Praesent eu ipsum vitae urna tempus efficitur a sit amet quam. Morbi pretium tempus ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </textarea>
        </div>
        <form method="POST">
            <div class="form-group">
                <input type="checkbox" name="aceito" id="aceito" value="aceito"> Li e aceitos os temos e condições<br>
            </div>
            <button type="submit" name="confirm.submitted" class="btn btn-primary btn-round">Aceito</button>
        </form>
        {% endif%}
        {% endif%}
    </div>
</div>
{% endblock %}