{% extends "zapizza:site/templates/base.jinja2" %}
{% block title %}Forbidden {% endblock %}
{% block content %}

    <h1>Forbidden</h1>
    <p>This login, if any, does not have
        permission for this operation.</p>

{% endblock %}
