{% extends "base.jinja2" %}
{% block title %}Forbidden {% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <h1>Forbidden</h1>
    <p>Este login não possui permissão para essa operação</p>

{% endblock %}
