{# página de recuperação de senha #}

{% extends "base.jinja2" %}
{% block title %}Login {% endblock %}
{% block content %}

<div class="wrapper-content-sign-in ">
    <div class="container text-center">
        <div class="smallbox form-signin1">
            <div class="form-group">
                <h2>Recuperar Senha</h2>


                {% if form_error %}
                <div class="alert alert-warning" role="alert">
                    {{ form_error }}
                </div>
                {% endif %}

                <form method="POST">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" name="email"
                               id="email" value="{{ email }}">
                    </div>
                    <button type="submit" name="form.submitted" class="btn btn-primary btn-round">Recuperar Senha</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
