{# home principal do site #}
{# IF principal verifica se existe um usuário registrado corrente #}
{# caso sim mosta bem vindo, caso não exibe opção de registro #}

{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if view.current_user %}
<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
        <h1>Bem vindo ao Zapizza caro {{ view.current_user.first_name }}</h1>
        <p>Vamo dale</p>
    </div>
</div>
{% endif %}
{% endblock %}
