{# home principal do site #}
{# IF principal verifica se existe um usuário registrado corrente #}
{# caso sim mosta bem vindo, caso não exibe opção de registro #}

{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="wrapper-content-sign-in ">
    <div class="container text-center">
        {% if view.current_user %}
        <h1>Bem Vindo ao Sistema caro {{ view.current_user.first_name }}</h1>
        {% else %}
        <div class="smallbox form-signin1">
            <div class="form-group">
                <h2>Registro</h2>

                {% if form_error %}
                <div class="alert alert-warning" role="alert">
                    {{ form_error }}
                </div>
                {% endif %}
                <form method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control placewhite" name="email" placeholder="E-mail" id="email" value="{{ email }}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-round">Registrar</button>
                </form>
                <a href="{{ request.route_url('login') }}" class="btn btn-link text-white">Já sou cadastrado</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
