{% extends "base.jinja2" %}
{% block title %}Not Found {% endblock %}
{% block content %}
<div class="wrapper-content-sign-in ">
    <div class="container text-center">
        <h1>Missing Page</h1>
        <p>A página <em>{{ request.url }}</em> não foi encontrada</p>
    </div>
</div>
{% endblock %}
