{% extends "base.jinja2" %}
{% block title %}Registro {% endblock %}
{% block content %}

<h1>Registro</h1>

{% if view.current_user.first_name %}
<h1>{{ msg }}</h1>
{% endif %}

<div class="col-md-6">{{ register_form | safe }}</div>

{% endblock %}
