{% extends "zapizza:site/templates/base.jinja2" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
        <h3>Tamanhos</h3>
        <p>Cadastro</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <form method="POST">
                <div class="card-block">
                    <h5 class="m-0">Informe os tamanhos de pizza disponíveis</h5>
                    <hr>
                    <div>
                        {# escrito a mao utilizando funções Deform #}
                        <div class="row justify-content-center">
                            <div class="col-md-10 ">
                                <div class="form-group row">
                                    <div class="col-lg-8 col-md-8 {% if edit_form['descricao'].error %} has-danger {% endif %}" >
                                        <label class="form-control-label">{{ edit_form['descricao'].title }}</label>
                                        {% if edit_form['descricao'].required %} <span class="form-control-label">*</span> {% endif %}
                                        {{ edit_form['descricao'].serialize() | safe }}
                                        {% if edit_form['descricao'].error %} <span class="form-control-label">{{ edit_form['descricao'].error.messages()[0] }}</span> {% endif %}
                                    </div>
                                    <div class="col-lg-8 col-md-8 {% if edit_form['sigla'].error %} has-danger {% endif %}">
                                        <label class="form-control-label">{{ edit_form['sigla'].title }}</label>
                                        {% if edit_form['sigla'].required %} <span class="form-control-label">*</span> {% endif %}
                                        {{ edit_form['sigla'].serialize() | safe }}
                                        {% if edit_form['sigla'].error %} <span class="form-control-label">{{ edit_form['sigla'].error.messages()[0] }}</span> {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 col-md-8 {% if edit_form['quant_sabores'].error %} has-danger {% endif %}">
                                        <label class="form-control-label">{{ edit_form['quant_sabores'].title }}</label>
                                        {% if edit_form['quant_sabores'].required %} <span class="form-control-label">*</span> {% endif %}
                                        {{ edit_form['quant_sabores'].serialize() | safe }}
                                        {% if edit_form['quant_sabores'].error %} <span class="form-control-label">{{ edit_form['quant_sabores'].error.messages()[0] }}</span> {% endif %}
                                    </div>
                                    <div class="col-lg-8 col-md-8 {% if edit_form['quant_bordas'].error %} has-danger {% endif %}">
                                        <label class="form-control-label">{{ edit_form['quant_bordas'].title }}</label>
                                        {% if edit_form['quant_bordas'].required %} <span class="form-control-label">*</span> {% endif %}
                                        {{ edit_form['quant_bordas'].serialize() | safe }}
                                        {% if edit_form['quant_bordas'].error %} <span class="form-control-label">{{ edit_form['quant_bordas'].error.messages()[0] }}</span> {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 col-md-8 {% if edit_form['quant_fatias'].error %} has-danger {% endif %}">
                                        <label class="form-control-label">{{ edit_form['quant_fatias'].title }}</label>
                                        {% if edit_form['quant_fatias'].required %} <span class="form-control-label">*</span> {% endif %}
                                        {{ edit_form['quant_fatias'].serialize() | safe }}
                                        {% if edit_form['quant_fatias'].error %} <span class="form-control-label">{{ edit_form['quant_fatias'].error.messages()[0] }}</span> {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ request.route_url('tamanhos_list') }}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" name="form.submitted" class="btn btn-success pull-right">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}