{% extends "zapizza:site/templates/base.jinja2" %}
{% block title %}Sabores{% endblock %}
{% block content %}
<div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
        <h3>Sabores</h3>
        <p>Gerencie a sua lista de sabores disponíveis</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-16">
        <div class="card">
            <div class="card-header">
                <h6 class="card-tile pull-left">Informe a lista de sabores</h6>
                <ul class="nav nav-pills card-header-pills pull-right">
                    <li class="nav-item">
                        <a href="{{ request.route_url('sabores_add') }}" class="btn btn-sm btn-outline-secondary btn-round"><i class="fa fa-plus"></i> <span class="text">Novo</span></a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Inputs Modal </button>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <table class="table " id="dataTables-simple">
                    <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Edição</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sabor in sabores %}
                    <tr class="odd">
                        <td>{{ sabor.descricao }}</td>
                        <td>
                            <form method="POST">
                                <a href="{{ request.route_url('sabores_edit', hashid=sabor.hash_id) }}" class="btn btn-link btn-sm" style="color:#d4c3ba" data-toggle="popover" data-content="Clique aqui para editar o registro"><i class="fa fa-pencil" ></i></a>
                                {% if sabor.ativo %}
                                <a href="{{ request.route_url('sabores_disable', hashid=sabor.hash_id) }}" class="btn btn-link btn-sm" style="color:#d4c3ba" data-toggle="popover" data-content="Clique aqui para desativar o registro"><i class="fa fa-ban"></i></a>
                                {% else %}
                                <a href="{{ request.route_url('sabores_enable', hashid=sabor.hash_id) }}" class="btn btn-link btn-sm" style="color:#d4c3ba" data-toggle="popover" data-content="Clique aqui para ativar o registro"><i class="fa fa-check"></i></a>
                                {% endif %}
                            </form>
                        </td>
                        <td>
                            {% if sabor.ativo %}
                            <span class="status success">Ativo</span>
                            {% else %}
                            <span class="status danger">Inativo</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
{# importa bloco de scripts de base.jinja2 #}
{{ super() }}
{# DataTables #}
<script src="{{ request.static_url('zapizza.site:static/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ request.static_url('zapizza.site:static/vendor/datatables/js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ request.static_url('zapizza.site:static/vendor/datatables/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ request.static_url('zapizza.site:static/js/datatables.js') }}"></script>
{# Popover #}
<script src="{{ request.static_url('zapizza.site:static/js/popover.js') }}"></script>
{% endblock %}